@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
body {
    color: #575757;
    font-family: 'Open Sans', sans-serif;
    line-height: 120%;
}
#links {
	position: fixed;
    bottom: 3.2%;
	left: 2%;
    width: 10%;
	/* z-index: 10; */
	
	/* height: 20px;
	width:20px; */
	
}

.row {
	margin-left:0;
	margin-top: 10px
	
}
